body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1{
   margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e0404;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
}

button {
    width: 200px;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
