* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: none;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #0f1923;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.LogoVuelta{
    height: 60px;
}

/* NAV SECTIONS */
.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* BUTTONS */
.nav-button {
    background-color: transparent;
    border: 1px solid #ffffff33;
    padding: 8px 14px;
    cursor: pointer;
}

.nav-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-button:hover {
    background-color: #ffffff22;
}

/* PLAY BUTTON */
.play {
    background-color: #ff4655;
    border: none;
}

.play:hover {
    background-color: #ff2f40;
}

/* HERO SECTION */
    .hero {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../assets/mapas/FondoHud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    }

/* HERO CONTENT */
.hero-content {
    text-align: center;
    background-color: rgb(0 0 0 / 79%);
    
    width: 70vh;
    height: 40vh;
    border-radius: 10px;
    padding: 10vh;

}

.hero-content h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-content p {
    color: #dddddd;
    font-size: 18px;
    margin-bottom: 30px;
}

/* HERO BUTTON */
.hero-button {
    background-color: #ff4655;
    padding: 14px 30px;
      border-radius: 10px;
    display: inline-block;
}

.hero-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-button:hover {
    background-color: #ff2f40;
}

/* SECCIÓN VIDEOS */
.videos-section {
    width: 100%;
    padding: 20% ;             
    display: flex;
    justify-content: center;
    background-color: transparent;
}

/* GRID DE VIDEOS */
.videos-grid {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 60px;                     /* espacio entre vídeos */
}

/* CAJA NEGRA */
.video-box {
    width: 45%;
    background-color: #000;
    padding: 15px;
    border-radius: 8px;
}

/* IFRAME */
.video-box iframe {
    width: 100%;
    height: 260px;
    border: none;
}
/* CONTAINERS */

.container {
display: flex;
flex-direction: column;
flex: 1;
padding: 2vw 10vw 0vw 10vw;
}

.container h1{
    justify-content: center;
    height: fit-content;
}

/* CHARACTERS */

.characters{
    overflow: hidden;
    background-image:url(/assets/mapas/KingsCanyon_Map.webp);
    background-color: #00000053;
    background-blend-mode: multiply;
    background-size: cover;
}

.characterselector{
    display: flex;
}

.portrait {
    max-height: 80vh;
    transform: translateX(-50px);
    max-width: 45vw;
    filter: drop-shadow(rgb(0, 0, 0, 0.5) 2rem 2rem 30px)
    drop-shadow(rgba(0, 0, 0, 0.5) -2rem -2rem 30px);
}

.portrait_img {
    overflow: hidden;
}

.characterselector {
 display: flex;
}

.characterlist {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
max-width: 50vw;
gap: 2px;   
padding: 5vw;
}

.row{
    display: flex;
    gap: 5px;
}

#r1 {
    transform:translateX(45px)
}
#r2 {
    transform:translateX(20px);
}

#c1{
    background: linear-gradient(270deg, #511c1c, #b32626);
    justify-content: center;
}
#c2{
    background: linear-gradient(270deg, #6b5950, #9c715e);
    justify-content: center;
}
#c3{
    background: linear-gradient(270deg, #54446c, #9d6eee);
    justify-content: center;
}
#c4{
    background: linear-gradient(270deg, #2e5267, #2d9ada);
    justify-content: center;
}
#c5{
    background: linear-gradient(270deg, #553f7c, #632cc2);
    justify-content: right;
}
#c6{
    background: linear-gradient(270deg, #51241c, #b33626);
    justify-content: center;
}
#c7{
    background: linear-gradient(270deg, #7b684c, #ceb58f);
    justify-content: center;
}
#c8{
    background: linear-gradient(270deg, #9b835f, #dec165);
    justify-content: right;
}


.card {
display: flex;
position: relative;
border: 5px solid #e6e6e6;
overflow: hidden;
height: 100px;
width: 100px;
transform: skew(-14deg);
cursor: pointer;
transition: transform 0.25s, box-shadow 0.25s, border 0.25s;
}

.card img {
height: 100%;
object-fit:fill;
transform: skew(14deg);
}

.card:hover {
transform: scale(1.05) skew(-14deg);
border-color: #8d0707;
box-shadow: 0 0 20px #6c050596;
}

.charactertext{
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 5vh;
}   

.charactertext p{
    color: white;
    padding: 10px;
}

.maps-footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 150px;
display: flex;
border-top: 3px solid #222;
background-color: #000;
padding-left: 20px;
padding-right: 20px;
}


.map {
flex: 1;
position: relative;
overflow: hidden;
cursor: pointer;
transition: filter 0.2s, transform 0.2s;
border: solid 5px rgb(0, 0, 0);
transform: skew(-14deg);
}

.map:hover {
    transform: scale(1.05) skew(-14deg);
}


.map img {
transform: skew(14deg) scale(1.1);
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(0.6);
}


/* ARMAS */

.weaponlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

.weapon {
    padding: 50px;
}
