* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #050505;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 75px;
    background-color: #0f1923;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position:fixed;
}

.LogoVuelta{
    height: 60px;
}

/* NAV SECTIONS */
.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* BUTTONS */
.nav-button {
    background-color: transparent;
    border: 1px solid #ffffff33;
    padding: 8px 14px;
    cursor: pointer;
}

.nav-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-button:hover {
    background-color: #ffffff22;
}

/* PLAY BUTTON */
.play {
    background-color: #ff4655;
    border: none;
}

.play:hover {
    background-color: #ff2f40;
}

/* HERO SECTION */
    .hero {
    width: 100%;
    height: calc(100vh - 70px);
    background-clip: url(../assets/Fondos/YTDowncom_YouTube_Apex-Legends-Official-Launch-Trailer_Media_innmNewjkuk_003_480p.mp4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
   
    }

/* HERO CONTENT */
.hero-content {
    text-align: center;
    background-color: rgb(0 0 0 / 79%);
    
    width: 70vh;
    height: 70vh;
    border-radius: 20px;
    padding: 10vh;

}
.video-bg {
  position: relative;
  top: 70%;
  left: 50%;
  width: 120vw;
  height: 120vh;

  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;

  opacity: 0.6;
}

.hero-content h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-content p {
    color: #dddddd;
    font-size: 18px;
    margin-bottom: 30px;
    display: flex;
    text-align: left;
    
}

/* HERO BUTTON */
.hero-button {
    position: absolute;
    background-color: #ff4655;
    padding: 14px 30px;
    width: 16vw;
    height: 6vh;
    border-radius: 15px;
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.hero-button:hover {
    background-color: #ff2f40;
}

/* SECCIÓN VIDEOS */
.videos-section {
    width: 100%;
    padding: 20% ;             
    display: flex;
    justify-content: center;
    background-color: transparent;
     background-color: #ff2f40;
}

/* GRID DE VIDEOS */
.videos-grid {
    width: 100vh;
    display: flex;
    justify-content: center;
    gap: 70px;                     /* espacio entre vídeos */
}

/* CAJA NEGRA */
.video-box {
    width: 50vh;
    background-color: #000000b0;
    padding: 15px;
    border-radius: 8px;
}

/* IFRAME */
.video-box iframe {
    width: 100%;
    height: 260px;
    border: none;
}
.video-box p {
margin: 20px;
color: #dddddd;
}

.hero2 {
        height: calc(100vh - 70px);
    background-image: url(../assets/mapas/6900d18d66a6e.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0 5%;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
}



/* CONTAINERS */

.container {
display: flex;
flex-direction: column;
flex: 1;
padding: 40px 20px 160px 20px;
}

.container h1{
    justify-content: center;
    height: fit-content;
}

/* CHARACTERS */

.characterselector{
    display: flex;
}

.characterlist {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
max-width: 30vw;
gap: 2px;   
margin: 0px;
padding-top: 12px;
}

.characterselector {
 display: flex;
}


.card {
position: relative;
background: linear-gradient(180deg, #1b1b1b, #111);
border: 2px solid #333;
border-radius: 6px;
overflow: hidden;
height: 100px;
width: 100px;
transform: skew(-14deg);
cursor: pointer;
transition: transform 0.25s, box-shadow 0.25s, border 0.25s;
}


.card img {
width: 100%;
height: 100%;
object-fit:fill;
}


.card span {
position: absolute;
bottom: 0;
width: 100%;
padding: 10px;
background: rgba(0, 0, 0, 0.7);
text-transform: uppercase;
font-size: 14px;
}


.card:hover {
transform: scale(1.05);
border-color: #e6b65c;
box-shadow: 0 0 20px rgba(230, 182, 92, 0.6);
}

/* ARMAS */

.weaponlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

.weapon {
    padding: 50px;
}


/* MAPAS EN FOOTER */

.maps-footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 150px;
background-color: #050505;
display: flex;
border-top: 3px solid #222;
}


.map {
flex: 1;
position: relative;
overflow: hidden;
cursor: pointer;
transition: filter 0.2s, transform 0.2s;
}


.map img {
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(0.6);
}


.map span {
position: absolute;
bottom: 10px;
}










/* MEDIA QUERIES */

/* @media (max-width: 1200px){

}
@media (max-width: 768px) {}
@media (max-width: 480px) {} */